label.break, button{
	display: block;
	padding: 0.2em;
}

label.break {
	width: 10em;
}

p.Category {
	width: 10em;
	height: 2em;
	padding: 3px;
	background-color: rgb(228, 245, 245);
}

.error {
	background: #f99;
	border: #900 1px solid;
}

label.error {
	width: 20em;
}