label.break, button{
	display: block;
}
label.break {
	width: 20em;
}

p.Category {
	width: 20em;
	height: 2em;
	padding: 3px;
	background-color: rgb(228, 245, 245);
}

.error {
	background: #f99;
	border: #900 1px solid;
}